* {
    font-family: 'Georgia', sans-serif;
}

.search {
    /* margin-top: 20px; */
    width: 100%;
    height: 350px;
    background-color: rgb(60, 140, 231);
    background: linear-gradient(135deg, #3C8CE7 2.6%, #33AEC8 40.47%, #31B8BF 51.04%, #3C8CE7 100%);
}

.search-main-text {
    width: 50%;
    text-align: center;
    color: white;
    margin: 0 auto;
}

.main-text {
    padding-top: 5%;
    padding-bottom: 55px;
}

.first-cards {
    margin-top: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn {
    margin-left: 70px;
    background-color: #31B8BF;
    padding: 3px 25px;
    border-radius: 100px;
    color: white;
}

.second-main-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.second-cards {
    display: flex;
    flex-direction: column;
}

.first-text {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
}

.third-session {
    background-color: #F8F9FC;
}

.third-main-text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.second-text {
    width: 85%;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
}

.third-cards {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}